.name_Container {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 8px;
}

p {
  min-width: 0;
  color: rgb(98, 110, 153);
  line-height: 16px;
  margin: 0;
  font-size: 13px;
}

label {
  margin-bottom: 1px;
  font-size: 14px;
}

input, textarea {
  width: 435px;
}

.modal_title {
  color: #101b42;
}

#cancel_button {
  background-color: #ffffff;
  color: rgb(98, 110, 153);
  border: none;
}

#cancel_button:hover {
  background-color: rgb(240, 242, 247);
}

.button_add {
  height: 50px;
  width: 150px;
  margin: 25px;
}