img{
    height: 500px;
    width: 200px;
    /* margin-left: 30%; */
    /* margin-top: 100px; */
}

/* style={{height: '300px', width: '200px', marginLeft: '30%',  marginTop: '100px' }} */


@media (max-width: 690px) {
 
    p{
        font-size: 15px!important;
    }
  
    h1{
      font-size: 35px!important;
    }
    
  }
  
  @media (max-width: 570px) {
   
    p{
        font-size: 13px!important;
    }
  
    h1{
      font-size: 30px!important;
    }

    img{
        height: 150px!important; 
        width: 100px!important;
    }
    
  }
  
  @media only screen and (max-width: 400px) {
    p{
      font-size: 10px!important;
    }
  
    h1{
      font-size: 25px!important;
    }

    .product-image{
       
       
        position: relative;
       bottom: 0!important;
        
    }

    img {
        height: 150px!important; 
        width: 150px!important;
    }

    .product-details{
        position: relative;
        top: 200px!important;
        width: 300px!important;
        /* margin: 0!important; */
    }
    
  }