.product_card {
  width: 300px;
  max-height: 600px;
  border: 1px solid rgb(240, 242, 247);
  margin-left: 100px;
}

.product_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#btn {
  background-color: rgb(255, 30, 30);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
  width: 120px;
}

#btn:hover {
  background-color: rgb(214, 8, 8);
}

#trashCan {
  color: white;
}

.product_card_body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.product_name, .product_price, .product_description {
  margin-bottom: .75rem;
}